@import '~swiper/swiper.scss';
@import '~swiper/swiper-bundle.css';
body {
    font-family: Roboto !important;
    background: radial-gradient(59.7% 69.6% at 51.29% 50.19%, #FFFFFF 12.36%, #FDFDFD 35.75%, #F4F4F4 49.01%, #E7E7E7 114.73%, #D3D3D3 85.12%, #B9B9B9 113.61%, #9A9A9A 112.47%, #757575 97.74%, #4B4B4B 99.54%, #474747 100%);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    scroll-behavior: smooth;
}

:focus {
    outline: none !important;
    box-shadow: 0 0 0 0rem rgba(49, 132, 253, .5) !important;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

// nav
a {
    text-decoration: none !important;
}

nav {
    background: linear-gradient(180deg, #FFFFFF 21.35%, rgba(255, 255, 255, 0) 100%);
    .nav__content {
        display: flex;
        justify-content: space-between;
        height: 62px;
        align-items: center;
    }
    .nav__content_years {
        height: 100%;
        display: flex;
        align-items: center;
        div {
            height: 100%;
            display: flex;
            align-items: center;
        }
        div:after {
            content: "|";
            position: absolute;
            color: #CBCBCB;
            height: 12px;
            margin: -60px 0 0 21px;
        }
        a {
            margin-right: 5px;
        }
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 110%;
            color: #757575;
            padding: 0 7px 0 7px;
        }
        .active_years {
            background: #E30510;
            height: 48px;
            position: relative;
            top: -7px;
            p {
                color: white;
                position: relative;
                top: 7px;
            }
            &:after {
                content: "";
            }
        }
        div:hover {
            background: #E30510;
            height: 48px;
            position: relative;
            top: -7px;
            p {
                color: white;
                position: relative;
                top: 7px;
            }
            &:after {
                content: "";
            }
        }
    }
    .nav__content_language {
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 110%;
            color: #000000;
            text-transform: uppercase;
        }
        a:first-child:after {
            content: '|';
            margin-left: 5px;
            color: #C9C9C9;
            height: 21px;
            position: relative;
            top: -1px;
        }
        a:hover {
            color: #E30510;
        }
    }
    border-bottom: 1px solid #C9C9C9;
}

.fixed__nav {
    position: fixed;
    transition: .5s;
    width: 100%;
    top: 0;
    z-index: 10;
    background: #E30510;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    a {
        color: white !important;
    }
    .navigations__header {
        height: 60px;
        display: flex;
        align-items: center;
    }
    .auth__btn {
        display: none !important;
    }
}

.banners__si_2021 {
    transition: .5s;
    .banners__si_2021_grid {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .auth__btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 72px;
        .auth__btn_items {
            display: flex;
            align-items: center;
        }
        .auth__btn__burger_menu {
            display: none;
            .mobile-menu__btn {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 30px;
                cursor: pointer;
                transition: .4s;
            }
            .mobile-menu__icon {
                display: block;
                position: relative;
                background: #E30510;
                width: 90%;
                height: 4px;
                transition: .4s;
            }
            .mobile-menu__icon::after,
            .mobile-menu__icon::before {
                content: "";
                display: block;
                position: absolute;
                background: #E30510;
                width: 100%;
                height: 4px;
                transition: .4s;
            }
            .mobile-menu__icon::after {
                top: 8px;
            }
            .mobile-menu__icon::before {
                top: -8px;
            }
            .mobile-menu__checkbox {
                display: none;
            }
            .mobile-menu__checkbox:checked~.mobile-menu__nav {
                opacity: 1;
            }
            .mobile-menu__checkbox:checked~.mobile-menu__container {
                height: 100%;
            }
            .mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon {
                background: transparent;
            }
            .mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before,
            .mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
                top: 0;
            }
            .mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
            .mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
        img {
            margin-right: 10px;
        }
        div {
            a {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 110%;
                /* or 13px */
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #595959;
            }
            a:hover {
                color: #E30510;
            }
            a:first-child:after {
                content: '|';
                margin-left: 8px;
                margin-right: 8px;
                color: #C9C9C9;
                height: 21px;
                position: relative;
                top: -1px;
            }
        }
    }
    .navigations__header {
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            color: #595959;
            text-transform: uppercase;
            margin-right: 20px;
        }
        a:hover {
            color: #E30510;
        }
    }
}

.about__tender_modal_container {
    margin-top: 70px;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.25));
    .about__tender_modal_items {
        border-radius: 0px 20px 20px 0px;
        background: linear-gradient(269.36deg, #FFFFFF 47.71%, rgba(255, 255, 255, 0) 71.25%);
        display: flex;
    }
    .about__tender_modal_items_1 {
        z-index: -1;
        margin-right: 65px;
        min-width: 557px;
        min-height: 350px;
        max-height: 350px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            border-radius: 20px;
            max-height: 350px;
            min-height: 350px;
            height: 100%;
        }
    }
    .about__tender_modal_items_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        padding-right: 70px;
        p:first-child {
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #595959;
            margin-top: 34px;
            margin-bottom: 8px;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 0em;
            color: #000000;
        }
        .btn__modal_tender {
            border: none;
            background: transparent;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 34px;
            /* identical to box height, or 189% */
            letter-spacing: 0.2em;
            color: #A6A6A6;
            padding: 0;
            text-align: right;
            &:hover {
                color: #E30510;
            }
        }
    }
}

// end nav
.about__section {
    background-image: url(../assets/img/img.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 40px;
    .info__si_items {
        margin-top: 100px;
        .si__logo_items {
            img:first-child {
                margin-right: 40px;
            }
            margin-bottom: 50px;
        }
        h1 {
            font-style: normal;
            font-weight: 900;
            font-size: 62px;
            line-height: 110%;
            /* or 68px */
            text-transform: uppercase;
            color: #474747;
            margin-bottom: 30px;
        }
        h2 {
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 150%;
            color: #000000;
            margin-bottom: 60px;
        }
        .btn__si_banners {
            width: 272px;
            height: 66px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            background: #E30510;
            border-radius: 60px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .about__tender {
        margin-top: 85px;
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 110%;
            // letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #595959;
        }
        .no__upper {
            text-transform: lowercase;
            span {
                text-transform: uppercase;
            }
        }
        .ltr {
            letter-spacing: 0.2em;
        }
        .pdg__no {
            padding-top: 35px;
        }
        .grid__tender {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 70px;
            .grid__tender_about {
                p:first-child {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 70px;
                    line-height: 110%;
                    color: #E30510;
                    margin-top: 0;
                }
                p {
                    margin-top: 30px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 30px;
                    line-height: 150%;
                    color: #000000;
                }
            }
            .grid__tender_main {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 30px;
                grid-column-gap: 100px;
                grid-template-rows: 103px;
                .tender__items {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        margin-right: 20px;
                    }
                    p {
                        font-style: normal;
                        font-weight: 900;
                        font-size: 60px;
                        line-height: 110%;
                        text-transform: uppercase;
                        color: #474747;
                        position: relative;
                        top: 0;
                    }
                    p:first-child {
                        top: 12px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 150%;
                        color: #000000;
                    }
                    p:last-child {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 150%;
                        color: #000000;
                        top: -12px;
                    }
                }
            }
        }
    }
}

.modal__tender {
    background: #FCFCFC;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 0px solid #dee2e6;
        border-top-left-radius: calc(.3rem - 1px);
        border-top-right-radius: calc(.3rem - 1px);
    }
    a {
        width: 100%;
        text-align: end;
    }
    svg {
        cursor: pointer;
        width: 30px;
        height: 30px;
        fill: #E30613;
        &:hover {
            opacity: 0.7;
        }
    }
    .modal-body {
        padding: 20px 60px 60px 60px;
        p:first-child {
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 110%;
            color: #000000;
            margin-bottom: 60px;
            margin-top: 0;
        }
        p {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 110%;
            /* or 33px */
            color: #E30510;
            margin-top: 50px;
        }
        div {
            display: flex;
            align-items: center;
            margin-bottom: 34px;
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 110%;
                /* identical to box height, or 33px */
                color: #474747;
                padding-left: 25px;
                margin-top: 0;
            }
        }
    }
}

#nominations {
    padding-top: 103px;
    padding-bottom: 50px;
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 110%;
        /* identical to box height, or 33px */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #595959;
        margin-bottom: 50px;
    }
    .grid__nominations {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
        }
        p {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 150%;
            /* or 45px */
            text-align: center;
            color: #E30510;
            margin-top: 34px;
            margin-bottom: 0;
        }
    }
}

#start {
    background: #E30510;
    padding-bottom: 30px;
    .start__grid {
        padding-top: 30px;
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 150%;
            color: #FFFFFF;
            padding-left: 0;
        }
        div {
            display: flex;
            align-items: baseline;
            padding-bottom: 32px;
            p {
                padding-left: 35px;
            }
        }
    }
    .start__btn {
        display: flex;
        align-items: center;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            /* or 21px */
            letter-spacing: 0.2em;
            color: #FFFFFF;
            background: transparent;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 60px;
            width: 275px;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: 50px;
            path {
                fill: white;
            }
            &:hover {
                background: white;
                color: #E30510;
                path {
                    fill: #E30510;
                }
            }
        }
        p {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 150%;
            /* identical to box height, or 45px */
            color: #FCFCFC;
        }
    }
}

#history {
    background-image: url(assets/img/back__history.png);
    background-repeat: no-repeat;
    background-color: white;
    min-width: 0;
    .swiper-container {
        max-width: 1205px;
        width: 100%;
        height: 400px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: #595959;
    }
    .swiper-pagination-bullet-active {
        background: #E30613;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    .history__title {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #595959;
        padding-top: 75px;
        margin-bottom: 60px;
    }
    .history__slide {
        display: flex;
        width: 90%;
        margin: 0 auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        background-image: url(assets/img/back__history_solo.png);
    }
    .history__items_title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #E30613;
        margin-top: 38px;
    }
    .history__items_untitle {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        /* or 200% */
        color: #595959;
        margin-top: 10px;
    }
    .history__items {
        margin-left: 20px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .btn__modal_history_item {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 34px;
        /* or 189% */
        letter-spacing: 0.2em;
        color: #A6A6A6;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        svg {
            margin-left: 15px;
        }
        &:hover {
            color: #E30613;
        }
    }
    .history__items_body {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */
        color: #595959;
        margin-top: 20px;
    }
    .btn__modal_history {
        width: 100%;
        text-align: right;
    }
}

#experts {
    padding-top: 120px;
    background-color: white;
    .swiper-container {
        width: 100%;
    }
    .experts__title {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #595959;
        margin-bottom: 60px;
    }
    .experts__slide_items {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 169px;
            width: 100%;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: #595959;
    }
    .experts__slide_items_title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 110%;
        /* identical to box height, or 20px */
        text-align: center;
        color: #595959;
        margin-top: 13px;
        margin-bottom: 15px;
    }
    .experts__slide_items_body {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */
        text-align: center;
        color: #000000;
    }
}

#news {
    padding-top: 142px;
    background-color: white;
    .news__title {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 110%;
        /* identical to box height, or 33px */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #595959;
        width: 100%;
        margin: 0 auto;
        max-width: calc(100% - 140px);
        margin-bottom: 40px;
    }
    .swiper-wrapper {
        min-height: 410px;
    }
    .news__main_items {
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.1);
        border-radius: 20px;
        border-radius: 20px;
        display: flex;
        margin-bottom: 40px;
        width: 100%;
        margin: 0 auto;
        max-width: calc(100% - 140px);
        .news__main_items_img {
            min-width: 472px;
            max-width: 472px;
            min-height: 265px;
            max-height: 265px;
            width: 100%;
            overflow: hidden;
            border-radius: 20px 0 0px 20px;
            img {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px 0 0px 20px;
            }
        }
    }
    .text__news {
        margin-left: 35px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        .news__date_items {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 110%;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #A6A6A6;
            margin-bottom: 20px;
        }
        .btn__modal_news {
            text-align: right;
        }
        .news__title_items {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 34px;
            /* or 142% */
            color: #595959;
            margin-bottom: 15px;
        }
        .btn__modal_news_item {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 0.2em;
            color: #A6A6A6;
            &:hover {
                color: #E30510;
            }
        }
    }
    .news__swiper_img {
        img {
            width: 100%;
        }
    }
    .news__swiper__items_all {
        display: flex;
        align-items: center;
        justify-content: center;
        .swiper-container-news {
            margin-top: 40px;
            width: 100%;
            max-width: 1200px;
            .swiper-button-prev,
            .swiper-button-next {
                color: #595959;
            }
            .news__swiper_item {
                margin: 0 auto;
                background: #FFFFFF;
                box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.1);
                border-radius: 20px;
                width: 95%;
            }
            .news__swiper_title {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                /* or 156% */
                color: #000000;
                margin: 25px;
            }
            .btn__modal_news {
                text-align: right;
                margin-right: 30px;
            }
            .btn__modal_news_item {
                margin-bottom: 30px;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 34px;
                letter-spacing: 0.2em;
                color: #A6A6A6;
                &:hover {
                    color: #E30510;
                }
            }
        }
        .swiper__navigations {
            width: 70%;
            height: 28px;
            position: absolute;
            margin: 0 auto;
            padding: 0 5%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-button-prev,
            .swiper-button-next {
                color: #595959;
            }
        }
    }
}

#partners {
    padding-top: 80px;
    background-color: white;
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #595959;
    }
    .particul_part {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.7;
        }
    }
    img {
        width: 85%;
    }
    padding-bottom: 50px;
}

#footer {
    background: #E30613;
    padding-top: 100px;
    padding-bottom: 70px;
    .grid__footer {
        display: grid;
        grid-template-columns: 25% 70%;
        grid-column-gap: 70px;
    }
    .social__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            /* or 125% */
            color: #FFFFFF;
            margin-bottom: 26px;
        }
        img {
            margin-right: 25px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .links__more {
        display: flex;
        p {
            margin-right: 55px;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 34px;
            /* or 142% */
            color: #FFFFFF;
            a {
                color: white;
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
    .links__more_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        a {
            margin-top: 50px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            /* identical to box height, or 156% */
            color: #FFFFFF;
            width: 292px;
            height: 54px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: white;
                color: #E30613;
            }
        }
    }
}

.years__blade_items {
    margin-bottom: 120px;
    h1 {
        margin-top: 70px;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 110%;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #595959;
        margin-bottom: 50px;
    }
}

#years__sections {
    margin-top: 70px;
    margin-bottom: 120px;
    li {
        padding-bottom: 10px;
    }
    .years__project_grid {
        display: grid;
        grid-template-columns: 20% 70%;
        grid-column-gap: 120px;
        width: 100%;
    }
    .main_text_item a {
        color: #E30510 !important;
    }
    .project_ul {
        .project_main_li_item {
            color: #E30510;
            .main_text_span {
                color: black;
            }
        }
        .li_item {
            color: black;
        }
    }
    .title__years_solo {
        font-weight: bold;
        font-size: 48px;
        padding-bottom: 30px;
    }
    .undotitle__years_solo {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 10px;
    }
    .podundotitle__years_solo {
        font-weight: bold;
        font-size: 16px;
        padding-bottom: 10px;
    }
    .years__project_date {
        position: sticky;
        top: 80px;
        border: 5px solid white;
        .years__project_date_items {
            padding: 20px;
            border-bottom: 2px dotted white;
            p {
                font-size: 20px;
                font-weight: normal;
                padding-bottom: 10px;
            }
            p:first-child {
                font-size: 16px;
                font-weight: bold;
            }
            p:last-child {
                font-size: 14px;
            }
        }
        .years__project_date_items:last-child {
            border-bottom: none;
        }
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #E30613;
    cursor: pointer;
}

.heart__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    .animated__loader {
        width: 100px;
        animation: heartbeat 1s infinite;
    }
    @keyframes heartbeat {
        0% {
            transform: scale( 1);
        }
        50% {
            transform: scale( 1.5);
        }
        100% {
            transform: scale( 1);
        }
    }
}

#news__components {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .disabled {
        opacity: 0;
        z-index: -1;
    }
    .news__components {
        display: grid;
        grid-template-columns: 70px 1fr 70px;
        margin: 0 auto;
        width: 100%;
        margin-top: 42px;
        .news__components__items_clone {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 50px;
            .news__swiper_item {
                background: #FFFFFF;
                box-shadow: 0px 0px 30px rgba(89, 89, 89, 0.1);
                border-radius: 20px;
                .news__swiper_img {
                    max-height: 190px;
                    height: 100%;
                    overflow: hidden;
                    min-height: 190px;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px 20px 0 0;
                    }
                }
                .news__card_title {
                    padding: 30px 20px 40px 20px;
                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 28px;
                        /* or 156% */
                        color: #000000;
                        margin-bottom: 40px;
                    }
                    .btn__modal_news_item {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 34px;
                        letter-spacing: 0.2em;
                        color: #A6A6A6;
                        text-align: right;
                        width: 100%;
                        &:hover {
                            color: #E30510;
                        }
                    }
                }
            }
        }
        .navigation__news {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .navigation__news_btn_next {
                background-image: url(/assets/img/right-arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 50px;
                width: 50px;
            }
            .navigation__news_btn_prev {
                background-image: url(/assets/img/left_arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 50px;
                width: 50px;
            }
        }
    }
}

#auth__form {
    margin-top: 90px;
    margin-bottom: 90px;
    .card__auth {
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 110%;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #595959;
            margin-bottom: 50px;
        }
        .un_title {
            font-size: 16px;
            margin-bottom: 5px;
        }
        div {
            input {
                border: 1px solid #A6A6A6;
                box-sizing: border-box;
                width: 100%;
                height: 45px;
                text-indent: 20px;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 110%;
                /* identical to box height, or 20px */
                color: #595959;
                margin-bottom: 20px;
            }
        }
        .btn__submit_container_register {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 14px;
        }
        .btn__submit_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 14px;
            .btn-forms-remembe {
                padding: 0;
                color: #E30510;
            }
        }
        .btn-primary-forms-submit {
            background: #595959;
            border-radius: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            /* or 21px */
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 280px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #E30510;
                color: white;
            }
        }
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        background-image: url(/assets/img/back__history_solo.png);
        padding: 65px 90px 65px 90px;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
}

// media
@media screen and (max-width:1399px) {
    #news .text__news .news__date_items {
        margin-top: 20px;
    }
    #news .news__main_items .news__main_items_img {
        min-width: 472px;
        max-width: 472px;
        min-height: 100%;
        max-height: 330px;
        width: 100%;
        overflow: hidden;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:1200px) {
    #news__components {
        display: none;
    }
    .about__section .about__tender .grid__tender .grid__tender_about p:first-child {
        font-size: 60px;
    }
    .about__section .about__tender .grid__tender .grid__tender_about p {
        font-size: 25px;
    }
    .about__section .about__tender .grid__tender .grid__tender_main .tender__items p {
        font-size: 40px;
    }
    .about__section .about__tender .grid__tender .grid__tender_main .tender__items p:first-child {
        font-size: 20px;
    }
    .about__section .about__tender .grid__tender .grid__tender_main .tender__items p:last-child {
        font-size: 20px;
    }
    .about__tender_modal_container .about__tender_modal_items {
        flex-direction: column;
    }
    .about__tender_modal_container .about__tender_modal_items_1 img {
        width: 100%;
        border-radius: 20px;
        max-height: 100%;
        min-height: auto;
        height: 100%;
    }
    .about__tender_modal_container .about__tender_modal_items {
        background: linear-gradient(-0deg, #FFFFFF 51.71%, rgba(255, 255, 255, 0) 71.25%);
        border-radius: 20px;
    }
    .about__tender_modal_container .about__tender_modal_items_1 {
        display: flex;
        align-items: center;
        border-radius: 20px;
    }
    .about__tender_modal_container .about__tender_modal_items_2 {
        justify-content: space-around;
        width: 100%;
        padding-right: 70px;
        padding-left: 70px;
        padding-bottom: 30px;
    }
    #start .start__grid p {
        font-size: 24px;
    }
    #start .start__btn p {
        font-size: 26px;
    }
    #footer .social__links img {
        margin-right: 10px;
    }
    #footer .links__more p {
        margin-right: 25px;
        font-size: 20px;
    }
    #footer .social__links p {
        font-size: 20px;
    }
    #years__sections .years__project_grid {
        grid-template-columns: 23% 70%;
        grid-column-gap: 40px;
    }
    #news .text__news .news__title_items {
        font-size: 18px;
        margin-bottom: 5px;
    }
    #news .text__news .news__date_items {
        font-size: 16px;
        margin-bottom: 10px;
    }
    #news .news__main_items {
        max-width: 100%;
    }
    #news .news__title {
        max-width: 100%;
    }
}

@media screen and (max-width:992px) {
    #news .news__main_items .news__main_items_img {
        max-width: 100%;
        min-width: 100%;
        border-radius: 20px 20px 20px 20px;
    }
    .modal__tender .modal-body div {
        flex-direction: column;
        img {
            margin-bottom: 30px;
        }
    }
    .nav__content {
        width: 100%;
        .nav__content_years {
            height: 100%;
            display: flex;
            align-items: center;
            overflow-x: scroll;
            width: 75%;
            div:after {
                content: "|";
                position: relative;
                color: #CBCBCB;
                height: 12px;
                top: -31px;
                left: -26px;
                width: 0;
                margin: 0;
            }
            div:hover {
                height: 48px;
                top: -8px;
            }
        }
        .active_years {
            top: -8px !important;
        }
        .nav__content_language {
            width: 25%;
            div {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a {
                font-size: 16px;
            }
            a:first-child:after {
                margin-right: 5px;
            }
        }
    }
    .banners__si_2021 {
        .auth__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 72px;
        }
    }
    .about__section .about__tender .grid__tender {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 70px;
        justify-items: center;
    }
    .about__section .about__tender .grid__tender .grid__tender_main {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 100px;
        grid-template-rows: 103px;
        margin-top: 40px;
        width: 100%;
    }
    .about__tender_modal_items_1 img {
        width: 100%;
    }
    .about__tender_modal_container .about__tender_modal_items {
        display: flex;
        flex-direction: column;
    }
    .about__section {
        background-image: url(/images/img.png?bb36b8d…);
        background-repeat: no-repeat;
        background-position: top;
    }
    .active__small_scroll {
        position: fixed;
        background: white;
        top: 0;
        width: 100%;
        transition: .5s;
        z-index: 999;
    }
    .banners__si_2021 {
        .navigations__header {
            transform: translate(0, -1500px);
            background: #E30510;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 0;
            a {
                color: white;
                margin-right: 0;
                margin-bottom: 20px;
                &:hover {
                    color: white;
                    text-decoration: underline !important;
                }
            }
        }
        .active__menu_items {
            transition: 1s;
            transform: translate(0, 0px);
            position: fixed;
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
            right: 0;
            left: 0;
            top: 0;
            z-index: 999;
        }
        .auth__btn {
            justify-content: space-between;
            .auth__btn__burger_menu {
                display: flex !important;
                .active_mobile_menu__btn {
                    z-index: 9999;
                    .mobile-menu__icon::before {
                        background: white;
                    }
                    .mobile-menu__icon::after {
                        background: white;
                    }
                }
            }
        }
    }
    .no_scrolled {
        overflow: hidden;
    }
    .about__section .info__si_items .si__logo_items img:first-child {
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .about__section .info__si_items .si__logo_items {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .about__tender_modal_container .about__tender_modal_items_1 {
        min-width: auto;
        min-height: auto;
        max-height: auto;
    }
    .about__tender_modal_container .about__tender_modal_items_2 p {
        font-size: 18px;
    }
    .about__tender_modal_container .about__tender_modal_items_2 p:first-child {
        font-size: 24px;
        word-break: break-all;
    }
    .about__tender_modal_container .about__tender_modal_items_2 {
        justify-content: space-around;
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .about__tender_modal_container .about__tender_modal_items_2 .btn__modal_tender {
        margin-top: 20px;
    }
    #nominations .grid__nominations {
        flex-direction: column;
    }
    #start .start__grid p {
        font-size: 18px;
    }
    #start .start__btn {
        flex-direction: column;
    }
    #start .start__btn p {
        font-size: 20px;
    }
    .start__btn a {
        margin-top: 30px;
    }
    #start .start__btn a {
        width: 100%;
        margin-left: 0;
    }
    .history__slide img {
        display: none;
    }
    #history .swiper-container {
        height: 100%;
        padding-bottom: 60px;
    }
    .tender__items div {
        min-width: 150px;
    }
    .history-prev,
    .history-next {
        display: none;
    }
    #news .text__news {
        margin-left: 0;
        padding-right: 30px;
        padding-left: 30px;
    }
    #news .news__main_items {
        flex-direction: column;
        padding-bottom: 60px;
        img {
            width: 100%;
            border-radius: 20px;
        }
        .text__news .news__date_items {
            font-size: 16px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
    #footer .grid__footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 40px;
        justify-items: center;
        .links__more_2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 30px;
            justify-items: center;
        }
        .links__more {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    #years__sections {
        .years__project_grid {
            grid-template-columns: 1fr;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
        }
        .years__project_sticky {
            order: 0 !important;
        }
        div {
            order: -1;
        }
    }
}