body {
  font-family: Roboto !important;
  background: #E5E5E5;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  scroll-behavior: smooth;
  outline: none !important;
}

a {
  text-decoration: none;
}

.projects__info_statuses {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: normal;
  color: #595959;
  margin: 0;
}

.validations__msg {
  color: #E30510;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 110%;
  margin: 0;
  text-align: right;
  padding-top: 10px;
}

.btns__statuses {
  display: flex;
  gap: 30px;
}

.btns__statuses .item__admin_btn {
  margin-top: 20px;
}

.btns__statuses .item__admin_btn .btn__draft {
  width: 291px;
  height: 66px;
  background: gray;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btns__statuses .item__admin_btn .btn__accepted {
  width: 291px;
  height: 66px;
  background: #4caf50;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#projects__shows div {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: normal;
  color: #595959;
}

#projects__shows div label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: #595959;
  padding-bottom: 10px;
}

#projects__shows div a {
  color: #E30510;
}

#projects__shows div p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: normal;
  color: #595959;
  margin: 0;
}

#admin_allusers .nav__items {
  display: flex;
}

#admin_allusers .nav__items .table__all_users {
  padding-top: 44px;
  padding-left: 68px;
  width: 60%;
  padding-left: 67px;
}

#admin_allusers .nav__items .table__all_users .itstart2021 {
  background: #ffa2a7;
}

#admin_allusers .nav__items .table__all_users form div {
  margin-bottom: 20px;
}

#admin_allusers .nav__items .table__all_users form input {
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  color: #AAA9A9;
  text-indent: 38px;
  height: 54px;
  width: 100%;
}

#admin_allusers .nav__items .table__all_users form strong {
  padding-bottom: 20px;
}

#admin_allusers .nav__items .table__all_users form label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: #595959;
  padding-bottom: 23px;
}

#admin_allusers .nav__items .table__all_users form .btn__all_users {
  width: 291px;
  height: 66px;
  background: #E30510;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#admin_allusers .nav__items .table__all_users h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.2em;
  color: #595959;
  padding-bottom: 38px;
}

#admin_allusers .nav__items .table__all_users p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: normal;
  color: #595959;
  margin: 0;
}

#admin_allusers .nav__items .table__all_users .info__color {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#admin_allusers .nav__items .table__all_users .info__color .item {
  margin-right: 20px;
  width: 16px;
  height: 16px;
  background: #ffa2a7;
}

#admin_allusers .nav__items .table__all_users svg {
  fill: #E30510;
}

#admin_allusers .nav__items .table__all_users button {
  background: none;
  outline: none !important;
  border: none;
}

#admin_allusers .nav__items .table__all_users table {
  width: 100%;
}

nav {
  background: linear-gradient(180deg, #FFFFFF 21.35%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #C9C9C9;
  height: 62px;
  display: flex;
  align-items: center;
}

nav .nav__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .nav__content .nav__content_href a {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  /* or 13px */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #595959;
}

nav .nav__content .nav__content_href a:first-child:after {
  content: "|";
  margin-left: 5px;
  color: #C9C9C9;
  height: 21px;
  position: relative;
  top: -1px;
}

nav .nav__content .nav__content_href a:hover {
  color: #E30510;
}

nav .nav__content .nav__content_language {
  margin-left: 35px;
}

nav .nav__content .nav__content_language .lang__active {
  color: #E30510 !important;
}

nav .nav__content .nav__content_language a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
  text-transform: uppercase;
}

nav .nav__content .nav__content_language a:first-child:after {
  content: "|";
  margin-left: 5px;
  color: #C9C9C9;
  height: 21px;
  position: relative;
  top: -1px;
}

nav .nav__content .nav__content_language a:hover {
  color: #E30510;
}

.left__navbar {
  background: #E30510;
  box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.09);
  width: 418px;
  height: 100%;
  top: 0;
  border-radius: 0px 60px 60px 0px;
  padding: 0 34px 0 34px;
  padding-bottom: 34px;
  min-height: 100vh;
}

.left__navbar .sticky__bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.left__navbar .sticky__bar .left__navbar_logo {
  padding-top: 30px;
  text-align: center;
}

.left__navbar .sticky__bar .left__navbar_title {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 34px;
  border-bottom: 1px solid #C8020B;
}

.left__navbar .sticky__bar .left__navbar_title .img {
  padding-right: 40px;
}

.left__navbar .sticky__bar .left__navbar_title .img img {
  width: 120px;
}

.left__navbar .sticky__bar .left__navbar_title .info .info__name p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  color: #FFFFFF;
}

.left__navbar .sticky__bar .left__navbar_title .info .info__email p {
  word-break: break-all;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  color: #FFFFFF;
}

.left__navbar .sticky__bar .left__navbar_href {
  padding-top: 16px;
}

.left__navbar .sticky__bar .left__navbar_href a {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  color: #FFFFFF;
}

.left__navbar .sticky__bar .left__navbar_href .active_href {
  position: relative;
  background-color: #E5E5E5;
  width: 385px;
  border-radius: 40px 0 0 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  color: #595959;
}

.left__navbar .sticky__bar .left__navbar_href div {
  margin: 26px 0 26px 0;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 34px;
}

.left__navbar .sticky__bar .left__navbar_href div:hover {
  position: relative;
  background-color: #E5E5E5;
  width: 385px;
  border-radius: 40px 0 0 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  color: #595959;
}

.form__item_btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.form__item_btns .btn_prev {
  flex-direction: row-reverse;
}

.form__item_btns .prev {
  transform: rotate(180deg);
}

.profile__left_navbar {
  margin-top: -62px;
}

#setting__profile {
  display: flex;
}

#setting__profile .nav__items {
  padding-top: 44px;
  padding-left: 68px;
  width: 60%;
}

#setting__profile .nav__items h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
  /* identical to box height, or 33px */
  letter-spacing: 0.2em;
  color: #595959;
  padding-bottom: 38px;
}

#setting__profile .nav__items .settings__form {
  padding-bottom: 60px;
}

#setting__profile .nav__items .settings__form div:first-child {
  padding-top: 0;
  padding-bottom: 0;
}

#setting__profile .nav__items .settings__form div {
  padding-top: 38px;
}

#setting__profile .nav__items .settings__form label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  /* identical to box height, or 22px */
  color: #595959;
  padding-bottom: 23px;
}

#setting__profile .nav__items .settings__form input {
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  color: #AAA9A9;
  text-indent: 38px;
  height: 54px;
  width: 100%;
}

#setting__profile .nav__items .settings__form input:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#setting__profile .nav__items .settings__form input:active {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#setting__profile .nav__items .settings__form input:focus {
  box-shadow: none !important;
}

#setting__profile .nav__items .settings__form .item p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #595959;
}

#setting__profile .nav__items .settings__form .item p span {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  color: #595959;
  background: #efddde;
}

#setting__profile .nav__items .settings__form .item a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  /* identical to box height, or 18px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E30510;
}

#setting__profile .nav__items .settings__form .item .btn__setting {
  width: 291px;
  height: 66px;
  background: #E30510;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#setting__profile .nav__items .settings__form .item .btn__setting:hover {
  opacity: 0.5;
}

#setting__profile .nav__items .settings__form .item .checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#setting__profile .nav__items .settings__form .item .checkboxes label {
  cursor: pointer;
  font-size: 16px;
}

#setting__profile .nav__items .settings__form .item input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#setting__profile .nav__items .settings__form .item input[type=checkbox] + label {
  position: relative;
  padding: 0.5rem 0 0 3.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#setting__profile .nav__items .settings__form .item input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 5px;
}

#setting__profile .nav__items .settings__form .item input[type=checkbox] + label:after {
  opacity: 0;
}

#setting__profile .nav__items .settings__form .item input[type=checkbox]:checked + label:before {
  content: "";
}

#setting__profile .nav__items .settings__form .item input[type=checkbox]:checked + label:after {
  background-color: transparent;
  content: url(/images/oks.png?77d0e87e8c5ec0eca29f1122ddd44279);
  display: block;
  position: absolute;
  left: 0.65rem;
  top: 0.65rem;
  width: 14px;
  height: 14px;
  opacity: 1;
}

.no_scroll {
  overflow: hidden;
}

.hiddens__modal {
  display: none !important;
}

#modalflat__save {
  z-index: 10;
  position: absolute;
  top: 10%;
}

#modalflat__save .form__item_btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 40px;
}

#modalflat__save .form__item_btns .btn__next {
  width: 200px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background: #E30510;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  text-transform: uppercase;
}

#modalflat__save .form__item_btns .btn_prev {
  flex-direction: row-reverse;
}

#modalflat__save .form__item_btns .prev {
  transform: rotate(180deg);
}

#modalflat__save .modal_alert__container {
  background: #FCFCFC;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 80%;
  position: fixed;
  padding: 110px 120px 60px 120px;
  text-align: center;
  max-width: 750px;
  height: 100%;
  overflow: auto;
  max-height: 500px;
}

#modalflat__save .modal_alert__container .alert_title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
  /* identical to box height, or 33px */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #595959;
  padding-bottom: 68px;
}

#modalflat__save .modal_alert__container .alert_down {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 110%;
  color: #000000;
  padding-bottom: 40px;
}

#modalflat__save .modal_alert__container .btn_ok {
  width: 100%;
  max-width: 230px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background: #E30510;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  text-transform: uppercase;
  margin: 0 auto;
}

#modalflat {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modalflat .modal_alert__container {
  background: #FCFCFC;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 80%;
  position: fixed;
  padding: 110px 120px 60px 120px;
  text-align: center;
  max-width: 750px;
}

#modalflat .modal_alert__container .alert_title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
  /* identical to box height, or 33px */
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #595959;
  padding-bottom: 68px;
}

#modalflat .modal_alert__container .alert_down {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 110%;
  color: #000000;
  padding-bottom: 40px;
}

#modalflat .modal_alert__container .btn_ok {
  width: 100%;
  max-width: 230px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background: #E30510;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  text-transform: uppercase;
  margin: 0 auto;
}

.btn_create_project {
  width: 100%;
  max-width: 230px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background: #E30510;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  text-transform: uppercase;
}

.btn_create_project:hover {
  color: #FFFFFF;
  opacity: 0.5;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.preloader div {
  display: flex;
}

.preloader div p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #595959;
  margin-top: 10px;
}

.preloader .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader .circle:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.7;
  -webkit-animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
}

.preloader .circle-1 {
  background-color: #F0F0F0;
}

.preloader .circle-1:before {
  background-color: #F0F0F0;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.preloader .circle-2 {
  background-color: #E1E1E1;
}

.preloader .circle-2:before {
  background-color: #E1E1E1;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.preloader .circle-3 {
  background-color: #C9C9C9;
}

.preloader .circle-3:before {
  background-color: #C9C9C9;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.preloader .circle-4 {
  background-color: #999999;
}

.preloader .circle-4:before {
  background-color: #999999;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.preloader .circle-5 {
  background-color: #E30510;
}

.preloader .circle-5:before {
  background-color: #E30510;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }

  50%, 75% {
    transform: scale(2.5);
  }

  78%, 100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50%, 75% {
    transform: scale(2.5);
  }

  78%, 100% {
    opacity: 0;
  }
}

#peoject__sections {
  display: flex;
}

#peoject__sections .card__project {
  padding-top: 44px;
  padding-left: 68px;
  width: 60%;
  padding-left: 67px;
}

#peoject__sections .card__project .statuses {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#peoject__sections .card__project .statuses .draft {
  background: gray;
  color: white;
}

#peoject__sections .card__project .statuses .moderate {
  background: #ff9101;
  color: white;
}

#peoject__sections .card__project .statuses .accepted {
  background-color: #4caf50;
  border-color: #4caf50;
  color: white;
}

#peoject__sections .card__project .statuses .item {
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  position: relative;
  right: 10px;
  bottom: -15px;
  z-index: 2;
  margin-right: 10px;
}

#peoject__sections .card__project .card__project_show {
  background-color: white;
  border-radius: 40px;
  padding: 25px 25px 25px 25px;
  cursor: pointer;
}

#peoject__sections .card__project .card__project_show span {
  color: #E30510;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  letter-spacing: normal;
  text-transform: uppercase;
}

#peoject__sections .card__project .card__project_show .project__title {
  color: #E30510;
  font-style: normal;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: normal;
  padding-top: 20px;
  margin: 0;
  font-weight: bold;
}

#peoject__sections .card__project .card__project_show .project__body {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #A6A6A6;
  padding-top: 20px;
  margin: 0;
}

#peoject__sections .card__project .card__project_show:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#peoject__sections .card__project h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.2em;
  color: #595959;
  padding-bottom: 38px;
}

#peoject__sections .card__project .no__project p {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 130%;
  color: #595959;
  background: #efddde;
}

#peoject__sections .card__project .no__project a {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  color: #E30510;
}

#create_project {
  display: flex;
}

#create_project #app {
  padding-top: 44px;
  padding-left: 68px;
  width: 60%;
}

#create_project #app h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.2em;
  color: #595959;
  padding-bottom: 38px;
}

#project__form .main__btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 40px;
}

#project__form .main__btns a {
  width: 272px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background: #E30510;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  text-transform: uppercase;
  cursor: pointer;
  flex: 1 1 auto;
  margin: 0 0px;
}

#project__form .form__item_btns .btn__next {
  width: 272px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background: #E30510;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  text-transform: uppercase;
}

#project__form .item__team_title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 110%;
  /* identical to box height, or 33px */
  color: #595959;
  padding-bottom: 35px;
  margin: 0;
}

#project__form .item__team_title_2 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 110%;
  /* identical to box height, or 22px */
  color: #595959;
  padding-bottom: 25px;
}

#project__form .form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

#project__form .form__item .progress {
  height: 30px;
  margin-top: 10px;
}

#project__form .form__item .progress .progress-bar {
  background: #E30510;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project__form .form__item .progress .progress-bar p {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: white;
  padding-bottom: 10px;
}

#project__form .form__item .maxlength__inp {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #A6A6A6;
  padding-top: 10px;
}

#project__form .form__item .danger {
  color: #E30510;
  font-size: 18px;
}

#project__form .form__item .btn__file {
  cursor: pointer;
}

#project__form .form__item .btn__file .fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1;
  background: white;
  border-radius: 10px;
}

#project__form .form__item .btn__file .file__sizes {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #A6A6A6;
  text-align: right;
  padding-top: 7px;
}

#project__form .form__item .btn__file .fileUploadInput label {
  display: flex;
  align-items: center;
  color: setColor(primary, 0.5);
  background: setColor(white);
  transition: 0.4s ease;
  font-family: arial, sans-serif;
  font-size: 0.75em;
  font-weight: regular;
  border-radius: 10px;
}

#project__form .form__item .btn__file .fileUploadInput input {
  cursor: pointer;
  position: relative;
  z-index: 1;
  background: transparent;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 10px;
}

#project__form .form__item .btn__file .fileUploadInput input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  margin-left: 10px;
  padding: 0;
  height: 50px;
  width: 0;
}

#project__form .form__item .btn__file .fileUploadInput button {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 154px;
  height: 54px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 110%;
  border: none;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  background: #E30510;
  border-radius: 10px;
}

#project__form .form__item .btn__file .fileUploadInput button svg {
  width: auto;
  height: 50%;
}

#project__form .form__item .item__check {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #595959;
  padding-top: 21px;
}

#project__form .form__item .item__check a {
  color: #E30510;
}

#project__form .form__item label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  /* identical to box height, or 22px */
  color: #595959;
  padding-bottom: 23px;
}

#project__form .form__item select {
  height: 54px;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  color: #AAA9A9;
  text-indent: 40px;
}

#project__form .form__item select:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item select:focus {
  box-shadow: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item select:active {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item .warning_item {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  color: #E30510;
}

#project__form .form__item .bold_item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  /* or 22px */
  color: #595959;
  padding-top: 20px;
}

#project__form .form__item ul {
  padding-top: 33px;
}

#project__form .form__item ul li {
  font-style: normal;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  color: #595959;
}

#project__form .form__item ul li:last-child {
  padding-bottom: 0;
}

#project__form .form__item .item__tile_form {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  color: #595959;
}

#project__form .form__item input {
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  color: #AAA9A9;
  text-indent: 38px;
  height: 54px;
  width: 100%;
}

#project__form .form__item input:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item input:focus {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item input:active {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item textarea {
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* or 20px */
  color: #AAA9A9;
  padding: 30px;
  height: 96px;
}

#project__form .form__item textarea:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item textarea:focus {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item textarea:active {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item .checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#project__form .form__item .checkboxes label {
  cursor: pointer;
  font-size: 16px;
}

#project__form .form__item .checkboxes label a {
  color: #E30510;
}

#project__form .form__item input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#project__form .form__item input[type=checkbox] + label {
  position: relative;
  padding: 0.5rem 0 0 3.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#project__form .form__item input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 5px;
}

#project__form .form__item input[type=checkbox] + label:after {
  opacity: 0;
}

#project__form .form__item input[type=checkbox]:checked + label:before {
  content: "";
}

#project__form .form__item input[type=checkbox]:checked + label:after {
  background-color: transparent;
  content: url(/images/oks.png?77d0e87e8c5ec0eca29f1122ddd44279);
  display: block;
  position: absolute;
  left: 0.65rem;
  top: 0.65rem;
  width: 14px;
  height: 14px;
  opacity: 1;
}

#project__form .form__item .item__title__alert {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 130%;
  color: #595959;
  background: #efddde;
}

#project__form .form__item .radio__container {
  display: flex;
}

#project__form .form__item .radio__container .project_ready_product .product__popup {
  display: none;
}

#project__form .form__item .radio__container .project_ready_product:hover .product__popup {
  display: block;
  position: absolute;
  bottom: 74px;
  left: 0;
  z-index: 2;
  background: #F0F0F0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #595959;
  padding: 20px;
  min-width: 350px;
  max-width: 350px;
}

#project__form .form__item .radio__container .project_ready_idea .idea__popup {
  display: none;
}

#project__form .form__item .radio__container .project_ready_idea:hover .idea__popup {
  display: block;
  position: absolute;
  bottom: 74px;
  left: 0;
  z-index: 2;
  background: #F0F0F0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #595959;
  padding: 20px;
  min-width: 350px;
  max-width: 350px;
}

#project__form .form__item .radio__container .nominations_incl .incl__popup {
  display: none;
}

#project__form .form__item .radio__container .nominations_incl:hover .incl__popup {
  display: block;
  position: absolute;
  bottom: 74px;
  left: 0;
  z-index: 2;
  background: #F0F0F0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #595959;
  padding: 20px;
  min-width: 350px;
  max-width: 350px;
}

#project__form .form__item .radio__container .nominations_eco .ecol__popup {
  display: none;
}

#project__form .form__item .radio__container .nominations_eco:hover .ecol__popup {
  display: block;
  position: absolute;
  bottom: 74px;
  left: 0;
  z-index: 2;
  background: #F0F0F0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #595959;
  padding: 20px;
  min-width: 350px;
  max-width: 350px;
}

#project__form .form__item .radio__container .form_radio_btn {
  /* Checked */
}

#project__form .form__item .radio__container .form_radio_btn input[type=radio] {
  display: none;
}

#project__form .form__item .radio__container .form_radio_btn label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  background: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0;
  width: 246px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 20px */
  color: #AAA9A9;
  margin-right: 47px;
}

#project__form .form__item .radio__container .form_radio_btn label svg {
  cursor: pointer;
}

#project__form .form__item .radio__container .form_radio_btn label svg:hover circle {
  fill: red;
}

#project__form .form__item .radio__container .form_radio_btn label svg:hover path {
  fill: white;
}

#project__form .form__item .radio__container .form_radio_btn input[type=radio]:checked + label {
  border: 1px solid #E30510;
}

#project__form .form__item .radio__container .form_radio_btn:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item .radio__container .form_radio_btn:focus {
  box-shadow: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#project__form .form__item .radio__container .form_radio_btn:active {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1200px) {
  #create_project {
    display: block;
  }

  .profile__left_navbar {
    margin-top: 0;
  }

  #project__form .form__item .radio__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .form__item_btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-direction: column;
    gap: 40px;
  }

  .left__navbar {
    width: 100%;
    height: 100%;
  }

  #create_project #app {
    padding-top: 20px;
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }

  #project__form .form__item_btns .btn__next {
    width: 100%;
  }

  .left__navbar .sticky__bar .left__navbar_href div:hover {
    position: relative;
    background-color: #E5E5E5;
    width: 100%;
    border-radius: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    color: #595959;
  }

  #project__form .main__btns a {
    width: 100%;
  }

  #project__form .main__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;
    flex-direction: column;
  }

  #modalflat__save .modal_alert__container {
    width: 90%;
    padding: 30px;
    height: 100%;
  }

  #peoject__sections {
    display: flex;
    flex-direction: column;
  }

  #modalflat__save .modal_alert__container {
    width: 90%;
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #peoject__sections {
    display: flex;
    flex-direction: column;
  }

  #project__form .form__item .btn__file .fileUploadInput button {
    display: none;
  }

  #setting__profile {
    display: flex;
    flex-direction: column;
  }

  #setting__profile .nav__items {
    padding-top: 44px;
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }

  #peoject__sections .card__project {
    padding-top: 44px;
    padding-left: 68px;
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
  }

  .left__navbar .sticky__bar .left__navbar_href .active_href {
    width: 100%;
    border-radius: 40px;
  }

  .left__navbar .sticky__bar .left__navbar_title {
    display: block;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  }

  .left__navbar .sticky__bar .left__navbar_title .img {
    padding-right: 0;
  }
}

